<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.li.studentsystem</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/li/Desktop/flaskProject/.venv/bin/python</string>
        <string>student_system.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/li/Desktop/flaskProject/server.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/li/Desktop/flaskProject/server_error.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/li/Desktop/flaskProject</string>
</dict>
</plist>
